# 3-1: More Data Types

## 1. Tuple

In [2]:
t = (1, 2, 3)

In [3]:
t[0]

1

### 1.1 Tuple unpacking

In [4]:
a, b = (1, 2)

In [5]:
print(a)
print(b)

1
2

### 1.2 Convert tuple to list

In [6]:
fl_city_list = ["Gainesville", "Orlando", "Tampa"]
fl_city_list

['Gainesville', 'Orlando', 'Tampa']

In [7]:
fl_city_tuple = tuple(fl_city_list)
fl_city_tuple

('Gainesville', 'Orlando', 'Tampa')

In [8]:
list(fl_city_tuple) # convert back from tuple to list

['Gainesville', 'Orlando', 'Tampa']

### 1.3 Tuple is immutable

Unlike list, once a tuple is created it cannot be changed

In [9]:
t[1] = 5

TypeError: 'tuple' object does not support item assignment

In [10]:
fl_city_list.append('Jacksonville')
fl_city_list

['Gainesville', 'Orlando', 'Tampa', 'Jacksonville']

In [11]:
fl_city_tuple.append('Jacksonville')

AttributeError: 'tuple' object has no attribute 'append'

## 2. Set

Unique collection of elements

In [12]:
s = {1,2,3}

In [13]:
s[0]

TypeError: 'set' object is not subscriptable

In [13]:
for fl_city in ['Miami', 'Orlando', 'Boca Raton', 'Tampa']:
    fl_city_list.append(fl_city)
    print(fl_city_list)

['Gainesville', 'Orlando', 'Tampa', 'Jacksonville', 'Miami']
['Gainesville', 'Orlando', 'Tampa', 'Jacksonville', 'Miami', 'Orlando']
['Gainesville', 'Orlando', 'Tampa', 'Jacksonville', 'Miami', 'Orlando', 'Boca Raton']
['Gainesville', 'Orlando', 'Tampa', 'Jacksonville', 'Miami', 'Orlando', 'Boca Raton', 'Tampa']

In [14]:
set(fl_city_list)

{'Boca Raton', 'Miami', 'Orlando', 'Gainesville', 'Jacksonville', 'Tampa'}

In [15]:
for city in fl_city_list:
    print('I like ' + city)

I like Gainesville
I like Orlando
I like Tampa
I like Jacksonville
I like Miami
I like Orlando
I like Boca Raton
I like Tampa

In [16]:
for city in set(fl_city_list):
    print('I like ' + city)

I like Boca Raton
I like Miami
I like Orlando
I like Gainesville
I like Jacksonville
I like Tampa

## 3. Dictionary

Consists of a collection of `{key: value}` pairs wrapped around by curly brackets.

In [17]:
my_dict = {'institution': 'University of Florida',
           'college': 'Design, Construction, and Planning',
           'enrollment year': 2022, 
           'graduate': True}
my_dict

{'institution': 'University of Florida', 'college': 'Design, Construction, and Planning', 'enrollment year': 2022, 'graduate': True}

### 3.1 Indexing and selecting

In [18]:
my_dict['college']

'Design, Construction, and Planning'

``` {admonition} Note: 
For dictionaries, you cannot use position for indexing purpose.
```

In [19]:
my_dict[0]

KeyError: 0

### 3.2 Keys and values

In [20]:
my_dict.keys()

dict_keys(['institution', 'college', 'enrollment year', 'graduate'])

In [21]:
my_dict.values()

dict_values(['University of Florida', 'Design, Construction, and Planning', 2022, True])

In [22]:
for key in my_dict.keys():
    print(my_dict[key])

University of Florida
Design, Construction, and Planning
2022
True

In [23]:
for key, value in my_dict.items():
    print('the value of ' + key + 'is ' + value) # what is the problem and how to fix it

the value of institutionis University of Florida
the value of collegeis Design, Construction, and Planning

TypeError: can only concatenate str (not "int") to str

### 3.3 Dict with a list value

In [24]:
city_dict = {"FL": ["Gainesville", "Orlando", "Tampa"],
             "CA": ["San Francisco", "Los Angeles"], 
             "TA": ["Houston", "San Antonio"]}

In [25]:
city_dict['FL'][0]

'Gainesville'

## 4. `format` function

In [26]:
for key, value in my_dict.items():
    print('the value of {} is {}'.format(key, value)) # what is the problem and how to fix it

the value of institution is University of Florida
the value of college is Design, Construction, and Planning
the value of enrollment year is 2022
the value of graduate is True

In [27]:
for key, value in my_dict.items():
    print('the value of {} is {}'.format(key.upper(), value)) # what is the problem and how to fix it

the value of INSTITUTION is University of Florida
the value of COLLEGE is Design, Construction, and Planning
the value of ENROLLMENT YEAR is 2022
the value of GRADUATE is True

## 5. List comprehension 

An elegant way to iterate through a list

In [28]:
[print(city) for city in fl_city_list]

Gainesville
Orlando
Tampa
Jacksonville
Miami
Orlando
Boca Raton
Tampa

[None, None, None, None, None, None, None, None]

In [29]:
x = [1, 2, 3, 4]

In [30]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [31]:
[item**2 for item in x]

[1, 4, 9, 16]